<ActionBar title="About Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
	<ScrollView tkDrawerContent class="sidedrawer-left">
		<StackLayout horizontalAlign="left">
			<drawer-content></drawer-content>
		</StackLayout>
	</ScrollView>
	<!-- display whatever is inside it stacked -->
	<ScrollView tkMainContent orientation="vertical" orientation="vertical" class="page">
		<StackLayout class="m-5" height="100%">
			<StackLayout row="0" class="p-10 border">
				<Label row="0" col="0" class="h2" text="Our History"></Label>
				<StackLayout orientation="vertical">
					<Label row="0" col="0" class="body" textWrap="true" text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."></Label>
					<Label row="1" col="0" class="body" textWrap="true" text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."></Label>
				</StackLayout>
			</StackLayout>
			<Label row="1" col="0" class="h2 m-t-10" text="Corporate Leadership"></Label>
			<ListView height="100%" [items]="leaders" class="list-group" *ngIf="leaders" row="2">
				<ng-template let-leader="item">
					<StackLayout orientation="horizontal" class="list-group-item">
						<Image row="0" col="0" rowSpan="2" height="108" width="108" [src]="BaseURL + leader.image" class="img-rounded p-10" borderRadius="100"></Image>
						<GridLayout class="list-group-item" rows="auto auto auto" columns="*">
							<Label row="0" col="0" class="h2" [text]="leader.name">
							</Label>
							<Label row="1" col="0" class="h3" textWrap="true" [text]="leader.designation"></Label>
							<Label row="2" col="0" class="body" textWrap="true" [text]="leader.description">
							</Label>
						</GridLayout>
					</StackLayout>
				</ng-template>
			</ListView>
		</StackLayout>
	</ScrollView>
</RadSideDrawer>